@use '../config' as *;
@use 'sass:color';

.maps {
    @include vwUnit(padding, 125 0, 50 0);
    &__holder {
        position: relative;
    }
    &__container {
        @include vwUnit(height, 768, 500);
        width: 100%;
    }
    &__sidebar {
        position: absolute;
        top: 0;
        right: 0;
        @include vwUnit(max-width, 530, 400);
        height: 100%;
        background: color(white);
        @include vwUnit(padding, 15);
        display: none;
        z-index: 999;
        overflow: auto;
        @media (max-width: 991.98px) {
            position: fixed;
            top: 50%;
            right: auto;
            left: 50%;
            transform: translate(-50%, -50%);
            max-width: 100%;
            height: auto;
            max-height: 70vh;
        }
        @media (max-width: 767.98px) {
            width: 95%;
        }
    }
    &__close {
        position: absolute;
        top: 20px;
        right: 20px;
        height: 35px;
        width: 35px;
        background-color: color(green);
        border-radius: 50%;
        border: none;
        font-size: 25px;
        line-height: 1;
        color: color(black);
    }
    &__image {
        border-radius: 8px;
        width: 100%;
        height: auto;
    }
    &__text {
        @include vwUnit(padding, 20);
    }
    &__title {
        @include typo(h4);
        text-transform: uppercase;
        color: color(black);
        letter-spacing: 2px;
        text-align: left;
        @include vwUnit(margin-bottom, 10);
    }
    &__desc {
        @include typo(paragraph-md);
        color: color(black);
        text-align: left;
    }
    &__sidebar-desktop {
        @media (max-width: 991.98px) {
            display: none!important;
        }
    }
    &__sidebar-mobile {
        @media (min-width: 992px) {
            display: none;
        }
    }
}

.mapOpen {
    overflow: hidden;
    &:before {
        content: '';
        height: 100%;
        width: 100%;
        background-color: rgba(0,0,0,0.8);
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
    }
}

// .popup-right .leaflet-popup-content-wrapper {
//   border-radius: 8px;
//   box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
//   background-color: #fff;
//   width: 240px;
// }

// .popup-right .leaflet-popup-tip {
//   left: -12px !important;
//   right: auto;
// }
